---
// library imports
import { Icon } from "astro-icon";

// helpers
import { formatNumberWithThousands } from "../ts/utils";

export interface Props {
  title: string;
  icon: string;
  number: number;
  percentage: number;
  positive: boolean;
}

const { title, icon, number, positive, percentage } = Astro.props;
---

<article>
  <div class="flex-between">
    <p class="title">{title}</p>
    <a href="#">
      <Icon name={icon} width="24" />
    </a>
  </div>
  <div class="flex-between">
    <p class="number">
      {number > 10000 ? formatNumberWithThousands(number) : number}
    </p>
    <p>
      <Icon name={positive ? "icon-up" : "icon-down"} width="24" />
      <span
        >{
          percentage > 10000
            ? formatNumberWithThousands(percentage)
            : percentage
        }%</span
      >
    </p>
  </div>
</article>
