---
// data imports
import data from "../data/social";

// helper functions
import { formatNumberWithCommas } from "../ts/utils";

const totalFollowers = Object.values(data.subscribers)
  .map((d) => d.subs)
  .reduce((prev, curr) => {
    return prev + curr;
  }, 0);
---

<header>
  <div class="header-wrapper">
    <h1>Social Media Dashboard</h1>
    <p>Total Followers: {formatNumberWithCommas(totalFollowers)}</p>
  </div>
  <div class="switch-wrapper">
    <label for="theme">Dark Mode</label>
    <input type="checkbox" role="switch" id="theme" />
  </div>
</header>

<script>
  const defaultTheme = window.matchMedia(
    "(prefers-color-scheme: dark)"
  ).matches;
  let dataTheme = defaultTheme ? "dark" : "light";
  document.querySelector("#theme").addEventListener("change", (e) => {
    dataTheme = dataTheme === "light" ? "dark" : "light";
    document.documentElement.dataset.theme = dataTheme;
  });
</script>
