---
// helpers
import { slugify } from "../ts/utils";

export interface Props {
  title: string;
  titleVisible?: boolean;
  classes?: string;
}

const { title, classes, titleVisible = true } = Astro.props;
---

<section aria-labelledby={slugify(title)} class={classes}>
  <h2 class={!titleVisible && "sr-only"} id={slugify(title)}>{title}</h2>
  <slot />
</section>

<style is:global>
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
</style>
